<div class="container main-container">


    <div class="column">
        <h4>Top sells</h4>
        <div class="box" *ngFor="let items of top_sell">
            <div class="image"><img src={{items.item_image_path}} alt=""></div>
            <div class="description">
                <h5>Orange 1kg</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">$2</span>

                    <span class="price">$3.99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Top rated</h4>
        <div class="box" *ngFor="let items of top_sell">
            <div class="image"><img src={{items.item_image_path}} alt=""></div>
            <div class="description">
                <h5>Orange 1kg</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">$2</span>

                    <span class="price">$3.99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Trending items</h4>
        <div class="box" *ngFor="let items of top_sell">
            <div class="image"><img src={{items.item_image_path}} alt=""></div>
            <div class="description">
                <h5>Orange 1kg</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">$2</span>

                    <span class="price">$3.99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h4>Recently added</h4>
        <div class="box" *ngFor="let items of top_sell">
            <div class="image"><img src={{items.item_image_path}} alt=""></div>
            <div class="description">
                <h5>Orange 1kg</h5>
                <span>reviews here</span>
                <div class="price-section">
                    <span class="discount-price">$2</span>

                    <span class="price">$3.99</span>
                </div>
            </div>
        </div>
    </div>
</div>
