<div class="container upper_image">
  <img src="../../../../assets/fruits&veg.png" alt="Snow" style="width:100%;">

  <div class="centered"><b><h1>Checkout</h1></b></div>
</div>
<br>
<div class="d-flex justify-content-center">
<div >
<p class=" text-muted">Select delivery address</p>
<div class="form-check d-flex justify-content-left " *ngFor="let address of address">
  <input class="form-check-input d-flex align-content-center mt-3 " (change)="getId(address.id)" type="radio" name="address" id="flexRadioDefault">
  <label class="form-check-label ms-2" for="flexRadioDefault" style="width: 50%;">
   {{address.address_line_1}} ,{{address.address_line_2 }}, {{address.area}} ,{{address.city}}, {{address.postal_code}}, {{address.state}} ,{{address.country}}:{{address.tag}}
  </label>
</div>
<br><br>
<pre class="d-flex justify-content-left">By placing order you agree
 to terms and condition
</pre>
<p>Payment mode: Cash on Delivery
</p>
<p>Grand total:</p>
<button class="btn btn-secondary rounded-5">cancle</button>
<button (click)="placeOrder()"  class="btn btn-success rounded-5 ms-2">Place an order</button>

</div>
</div>>
