<br>
<div class="container upper_image">
  <img src="../../../../assets/fruits&veg.png" alt="Snow" style="width:100%;">
  <div class="centered"><b><h1>Profile</h1></b></div>
</div>

<div class=" container d-flex ">
    <div class="sidebar me-5">
        <a style="cursor: pointer;" class="option" routerLink="/userprofile/profile">Profile</a>
        <a style="cursor: pointer;" class="option" routerLink="/userprofile/profile/orders">Orders</a>
        <a style="cursor: pointer;" class="option" routerLink="/userprofile/profile/manage-Address">Manage Address</a>
        <a style="cursor: pointer;" class="option" routerLink="/userprofile/profile/change-password">Change Password</a>
        <a style="cursor: pointer;" class="option"  (click)="getLogout()">Logout</a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
