.upper_image {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
input{
    width: 413px;
    margin-left: 40px;
    /* margin-right: 10px; */
}
label{
    margin-left: 40px;
}
.btn{
    position: relative;
    left:80px;
    width: fit-content;
    width: 100px;
    border-radius: 10px;

}
