
<form class="row container">
        <div class="col-md-10 mt-4 ms-5">
            <div class="d-flex justify-content-between mt-4">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" type="text" name="firstName">
                </div>
                <div class="form-group">
                    <label for="firstName">Last Name</label>
                    <input class="form-control" type="text" name="firstName">
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div class="form-group">
                    <label for="firstName">Email</label>
                    <input class="form-control" type="text" name="firstName">
                </div>
                <div class="form-group">
                    <label for="firstName">Contact Number</label>
                    <input class="form-control" type="text" name="firstName">
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <div class="form-group">
                    <label for="firstName">Alternate Contact Email</label>
                    <input class="form-control" type="text" name="firstName">
                </div>
                <div class="form-group">
                    <label for="firstName">Alternate Contact Number</label>
                    <input class="form-control" type="text" name="firstName">
                </div>
            </div>
        <div class="d-flex justify-content-between mt-4">
            <div class="form-group">
                <label for="firstName">Date of Birth</label>
                <input class="form-control" type="text" name="firstName">
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group mt-4">
            <button class="form-control btn btn-success">Save</button>
        </div>
    </div>
</form>
