.category_menu_in_home {
  text-decoration: none !important;
  color: black !important;
}
.category_div{
  margin-top: 3% !important;
}
.explore_category_text{
  font-size: 150% !important;
}
.main_box{
  border: 2px solid lightgray;
}
.item_image{
  width: 120%;
  height: 120%;
  justify-content: center;
}
.p{
  margin: 0;
  margin-left: 5px;
}
#category_name{
  color: grey;
}
#product_name{
  font-size: large;
}
#seller{
  color: green;
}
.add_to_cart{
  margin-left: 150px;
  margin-bottom: 20px;

}
.upper_box{
  background-color: rgba(168, 230, 221, 0.663);
}
