.footer{
  display: flex;
  justify-content: center;
  margin-top: 200px;

}
li{
  list-style-type: none;
}
.copyright-content{
   text-align: left;

}

.copyright{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
}
.fa-facebook,.fa-instagram,.fa-linkedin,.fa-twitter{
   margin-right: 30px;
   color: #3BB77E;

}
i{
   color: #3BB77E;
}
.box{
   display: flex;
   justify-content: space-between;
   margin-top: 200px;
}
li{
   margin-top: 20px;
}
