<div class="container box">

  <img src="../assets/offer.png" alt="">
  <div class="box1">
      <h4>Best Price & Deals</h4>
      <span>Don't miss our daily amazing deals and prices</span>
  </div>
  <img src="../assets/refundable.png" alt="">
  <div class="box2">
      <h4>Refundable</h4>
      <span>Don't miss our daily amazing deals and prices</span>
  </div>
  <img src="../assets/freedelivery.png" alt="">
  <div class="box3">
      <h4>Free Delivery</h4>
      <span>Don't miss our daily amazing deals and prices</span>
  </div>
</div>



<div class="container footer">

  <ul>
      <li> <img
        src="../assets/logo.png"
        height="30"
        alt=" Logo"
        loading="lazy"
      />
          <img src="../assets/Frame 1.png" alt="">
      </li>
      <li><i class="fa-solid fa-location-dot"></i>
          <span> Address:1762 school house road</span></li>
          <li>
            <i class="fa-solid fa-phone"></i>
              <span> call us:1233-777</span>
          </li>
          <li>
            <i class="fa-regular fa-envelope"  aria-hidden="true"></i>
              <span> email:abc@gmail.com</span>
          </li>
          <li>
            <i class="fa-regular fa-clock"  aria-hidden="true"></i>
              <span> work hours:8.00-20.00,sunday - thursday</span>
          </li>
  </ul>

</div>
<div class="container copyright">
  <div class="container-content">
  <span >&copy; 2023,All rights reserved</span></div>
  <div class="social-links">
  <a href="#"><i class="fa-brands fa-facebook"></i></a>
  <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a></div>
</div>

