<br />
<div class="container upper_image">
  <img src="../../../../assets/fruits&veg.png" alt="Snow" style="width: 100%" />

  <div class="centered">
    <b>
      <h1>My Cart</h1>
    </b>
  </div>
</div>

<div class="container ">
<table class="table ">
  <thead class=" thead table-dark">
    <tr>
      <th scope="col">ITEM DESCRIPTION</th>
      <th scope="col">UNIT PRICE</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">SUBTOTAL</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let category of itemsByCategories | keyvalue">

  <tr class="table-secondary">
    <td  colspan="5"><pre>{{category.key }}  item:rs {{category.value.total}}</pre></td>
  </tr>
    <tr *ngFor="let product of category.value.items">

      <td >
        <div class="row m-0 p-0">
          {{product.seller}}
        </div>
        <div class="row m-0 p-0">
          <b> {{product.groceryName}}</b>
        </div>
      </td>
      <td>
        <div class="row m-0 p-0">
          <b>{{product.price| currency}} </b>
        </div>
        <div class="row m-0 p-0">
         <s>100</s>
        </div>
      </td>
      <td>
        <div>
          <button (click)="decreaseCount(product.id)">-</button> <span class="">{{product.quantityCount}}</span>
          <button (click)="inceraseCount(product.id)">+</button>
        </div>
      </td>
      <td>{{product.subtotal}}</td>
      <td><i (click)="removeItem(product.id)" class="fa fa-solid fa-xmark"></i></td>
    </tr>

  </tbody>
</table>


<div class="d-flex">
  <div class="d-flex-row justify-content-between">
  <h5>subTotal:</h5>
  <h5>Tax:</h5>
  <h5>DIscount</h5>
  <h5>Total:</h5>
</div>
<div class="d-flex-column justify-content-between">
  <h4>Rs.{{totalPrice}}</h4>
  <h4>Rs.{{taxAmount}}</h4>
  <h4>Rs.{{discountAmount}}</h4>
  <h3>Rs.{{grandTotal}}</h3>
  </div>
</div>
<button (click)=checkout() *ngIf="grandTotal && grandTotal>0" routerLink="checkout">checkout</button>
