
<br>
<div class="container upper_image">
  <img src="../assets/fruits&veg.png" alt="Snow" style="width:100%;">

  <div class="centered"><b><h1>{{category}}</h1></b></div>
</div>
<br>
<div class="container text-right d-flex justify-content-end" style="color:black;font-size: 30px;">
  <div class="icon" (click)="onDisplay()">
    <i class="fa fa-solid fa-filter"></i>
</div>
<div class="options" [style.display]="isChanged ? 'block' : 'none'">
    <p style="text-align: center;">Filter option</p>
    <div class="option" *ngFor="let i of uniqueStores">
        <ul>
            <li><input type="checkbox" name="brand" id="" value="Amul">{{i.seller}}</li>
        </ul>
    </div>

</div>
</div>
<br>


  <div class="container ind">
    <div class="card " *ngFor="let product of filteredProducts">
      <img src="{{product.path}}" class="card-img-top image" alt="">
      <div class="card-body">
          <span class="card-text category">{{product.category}}</span>
          <h4>{{product.name}}</h4>
          <span>☆☆☆☆☆(4)</span>
          <span class="card-text storeName">By {{product.seller}}</span>
          <div>
              <span class="discountPrice card-text">{{product.discount| currency}}</span>
              <span class="price card-text">{{product.price | currency}}</span>
              <button class="btn  addToCart "><i class="fa fa-shopping-cart "></i>Add</button>
          </div>
      </div>
  </div>
  </div>










