input{

  margin-left: 40px;
  /* margin-right: 10px; */
}
label{
  margin-left: 40px;
}
.btn{
  position: relative;
  left:80px;
  width: fit-content;
  width: 100px;
  border-radius: 10px;
}

small{
  margin-left: 3rem;
}
