
<div class="container">
    <div class="horizontal">
        <hr class="divider">
        <span class="text">Past Orders</span>
        <hr class="divider">
    </div>
    <!-- <div class="table">
        <div class="row d-flex text-align-center">
            <div class="col-md-1">
                <i class="fa fa-truck"></i>
            </div>
            <div class="col-md-2">
                <span class="delivery-status">Delivered</span>
            </div>
            <div class="col-md-4">
                <span>12 Mar, Sun 8:30 AM - 12:30 PM </span>
            </div>
            <div class="col-md-3">
                <span>Order Amount: Rs 162</span>
            </div>
            <div class="col-md-2">
                <select name="items" id="items" class="items">
                    <option value="order">1 item</option>
                </select>
            </div>
        </div>
    </div>
  </div> -->
  <table class="table table-bordered ">
    <tbody>
      <tr *ngFor="let order of allOrder">
        <th scope="row" class="color"> <i class="fa fa-truck"></i></th>
        <td>Delivered</td>
        <td>{{order.order_date}} </td>
        <td>Order Amount: Rs{{order.paid_amount}}</td>
        <td><button (click)="getOrderDetails(order.id)" class="btn btn-success">order Details</button></td>
      </tr>

    </tbody>
  </table>
